*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 100%;
}

 

.navbar{
    height: 50px;
    background-color: rgba(102, 16, 83, 0.69);
    color: white;
    display: flex;
    align-items: center;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
}